.dashboard {
	height: 100%;
	display: flex;
	flex-flow: column;
	position: relative;
}

.dashboard__main {
	display: flex;
	flex-direction: row;
	height: 90vh;
}

.dashboard__sidebar {
	width: 15%;
	height: 100%;
}

.dashboard__chatboard {
	width: 85%;
}
